{% extends 'base.html.twig' %}

{% block body %}
    <h1>Author</h1>

    {{ author.name }} (#{{ author.id }})

    <h2>Books</h2>
    <div id="books" {{ turbo_stream_listen('book_by_author_' ~ author.id) }}></div>

{% endblock %}
